.dashboard {
    padding: 3.125rem;
    .user-header{
        margin-bottom: 3.125rem;
        h1{
            margin-bottom: 1.25rem;
        }
    }
    .dashboard-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .graphic{
            display: flex;
            gap: 20px;
        }
    }
}
