.performance{
    width: 16.125rem;
    height: 16.438rem;
    .recharts-wrapper{
        font-size: 12;
        color: white;
        border-radius: 5px;
        background-color: $grayDark;
        width: 100%;
        aspect-ratio: 1 / 1;
    }
}