.performance{
    width: 32.5%;
    height: 16.438rem;
    @media screen and (max-width: 1250px) {
        height: 14rem;
    }
    @media screen and (max-width: 1105px) {
        height: 12rem;
    }
    .recharts-wrapper{
        font-size: 0.75rem;
        color: white;
        border-radius: 0.313rem;
        background-color: $grayDark;
        width: 100%;
        aspect-ratio: 1 / 1;
        @media screen and (max-width: 1024px) {
            gap: 0.675rem;
        }
    }
}