.score {
    width: 16.125rem;
    height: 16.438rem;
    position: relative;
    background-color: $grayLight;
    padding: 2rem;
    h2 {
        font-size: 0.938rem;
    }
    .chart-legend {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .chart-legend-1{
            font-weight: bold;
            font-size: 1.625rem;
        }
        .chart-legend-2{
            color: $gray;
            font-size: 1rem;
            text-align: center;
            width: 5.938rem;
        }
    }
}
