
/*****RESET*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
}

.main {
    margin: 0 auto;
    width: 100%;
}

h1{
    font-size: 48px;
    span{
        color: $red;
    }
}

h2{
    font-size: 15px;
    font-family: 'Roboto';
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
